 body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url('../images/Screenshot\ 2025-02-21\ 193247.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .login-container {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
  }
  
  .login-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login-subheader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .login-description {
    font-size: 14px;
    color: #888888;
    margin-bottom: 30px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .login-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    visibility: hidden;
    margin-top: -10px;
  }
  
  .login-button {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }