/* body {
    font-family: sans-serif;
    background: #fff;
    margin: 0;
    padding: 20px;
    direction: ltr;
  } */
  
  .container {
    max-width: 900px;
    margin: auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .actions button {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    background: #e5e5e5;
    border-radius: 6px;
    cursor: pointer;
  }

  #addSubscriber{
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    background: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .total {
    font-weight: bold;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
  }
  
  thead {
    background: black;
    color: white;
  }
  
  td, th {
    padding: 12px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .status-active {
    background: rgba(31, 255, 99, 0.19);
    border: 2px solid #23FB55;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
  }
  
  .filter-menu {
    margin-top: 10px;
    border: 1px solid #ccc;
    width: 150px;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
  }
  
  .filter-menu div {
    padding: 8px;
    cursor: pointer;
  }
  
  .filter-input {
    margin-top: 10px;
  }
  
  .filter-input input {
    padding: 6px;
    width: 200px;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notification {
    background-color: #ffdddd;
    color: #a94442;
    border: 1px solid #a94442;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
  }
  
  /* تحديد الحقل اللي فيه خطأ */
  .input-error {
    border: 2px solid red !important;
  }
  
  .popup-content {
    background: black;
    padding: 40px;
    border-radius: 10px;
    color: white;
    width: 600px; /* زودنا العرض */
    text-align: center;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px; /* ← المسافة بين العمودين */
    row-gap: 25px;    /* ← المسافة بين الصفوف */
    margin: 30px 0;
  }

  .form-grid label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    text-align: right;
  }
  
  
  .popup input {
    background: #2C2C2C;
    padding: 12px;
    border: none;
    border-radius: 6px;
    width: 100%;
    color: white;
  }
  
  
  
  .popup button {
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  